name: CI/CD DevOps Teste H&W

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v2

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_KEY }}
          port: '22'
          script: |
            pkill -f app.py || true
            pkill -f app2.py || true
            cd ~/apphw
            git pull origin main || exit 1  # Garante código atualizado
            pip3 install -r requirements.txt
            nohup python3 app.py > app5000.log 2>&1 &
            nohup python3 app2.py > app5001.log 2>&1 &
            echo "Aguardando 30s para as aplicações iniciarem..."
            sleep 30 # Tempo de espera aumentado
            echo "Verificando logs das aplicações:"
            echo "--- app5000.log ---"
            cat app5000.log || echo "Log app5000.log não encontrado ou vazio."
            echo "--- app5001.log ---"
            cat app5001.log || echo "Log app5001.log não encontrado ou vazio."
            echo "--- Fim dos Logs ---"
            echo "Verificando endpoints localhost..."
            curl --retry 10 --retry-delay 2 --fail http://localhost:5000 || exit 1
            curl --retry 10 --retry-delay 2 --fail http://localhost:5001 || exit 1
            echo "Deploy concluído com sucesso!"

